<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Simple Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="layout" content="main"/>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    {% stylesheets
    'bundles/appsite/css/customize-template.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-toggle="collapse" data-target="#app-nav-top-bar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="dashboard.html" class="brand"><i class="icon-leaf">Administracion</i></a>
            <div id="app-nav-top-bar" class="nav-collapse">
                <ul class="nav">

                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="login.html">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div id="body-container">
<div id="body-content">

<div class="body-nav body-nav-horizontal body-nav-fixed">
    <div class="container">
        <ul>
            <li>
                <a href="{{ path('app_site_homepage') }}">
                    <i class="icon-dashboard icon-large"></i> Dashboard
                </a>
            </li>

            <li>
                <a href="{{ path('datos') }}">
                    <i class="icon-bar-chart icon-large"></i> Datos
                </a>
            </li>
        </ul>
    </div>
</div>


<section class="nav nav-page">
    <div class="container">
        <div class="row">
            <div class="span7">
                <header class="page-header">
                    <h3>Dashboard <br/>
                        <small>Ultimos registros</small>
                    </h3>
                </header>
            </div>
            <div class="page-nav-options">
                <div class="span9">
                    <ul class="nav nav-pills">
                        <li>
                            <a href="#"><i class="icon-home icon-large"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>









<section class="page container">


    {% block contenido %}

    <div class="span8">
        <div class="box pattern pattern-sandstone">
            <div class="box-header">
                <i class="icon-table"></i>
                <h5>
                    Table
                </h5>
            </div>
            <div class="box-content box-table">
                <table id="sample-table" class="table table-hover table-bordered tablesorter">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Browser</th>
                        <th class="td-actions"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>7.0</td>
                        <td>Internet
                            Explorer</td>
                        <td class="td-actions">
                            <a href="javascript:;" class="btn btn-small btn-info">
                                <i class="btn-icon-only icon-ok"></i>
                            </a>

                            <a href="javascript:;" class="btn btn-small btn-danger">
                                <i class="btn-icon-only icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>4.0</td>
                        <td>Firefox</td>
                        <td class="td-actions">
                            <a href="javascript:;" class="btn btn-small btn-info">
                                <i class="btn-icon-only icon-ok"></i>
                            </a>

                            <a href="javascript:;" class="btn btn-small btn-danger">
                                <i class="btn-icon-only icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Latest</td>
                        <td>Safari</td>
                        <td class="td-actions">
                            <a href="javascript:;" class="btn btn-small btn-info">
                                <i class="btn-icon-only icon-ok"></i>
                            </a>

                            <a href="javascript:;" class="btn btn-small btn-danger">
                                <i class="btn-icon-only icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Latest</td>
                        <td>Chrome</td>
                        <td class="td-actions">
                            <a href="javascript:;" class="btn btn-small btn-info">
                                <i class="btn-icon-only icon-ok"></i>
                            </a>

                            <a href="javascript:;" class="btn btn-small btn-danger">
                                <i class="btn-icon-only icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>
                            Opera</td>
                        <td class="td-actions">
                            <a href="javascript:;" class="btn btn-small btn-info">
                                <i class="btn-icon-only icon-ok"></i>
                            </a>

                            <a href="javascript:;" class="btn btn-small btn-danger">
                                <i class="btn-icon-only icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{%  endblock %}

</section>



</div>
</div>

<div id="spinner" class="spinner" style="display:none;">
    Loading&hellip;
</div>

<footer class="application-footer">
    <div class="container">
        <p>Administracion</p>
        <div class="disclaimer">
            <p> All right reserved.</p>
            <p>Copyright © 2014-2015</p>
        </div>
    </div>
</footer>








    {% javascripts

    '@AppSiteBundle/Resources/public/js/jquery/jquery-1.8.2.min.js'
     '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-transition.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-alert.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-modal.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-dropdown.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-scrollspy.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-tab.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-tooltip.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-popover.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-button.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-collapse.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-carousel.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-typeahead.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-affix.js'
    '@AppSiteBundle/Resources/public/js/bootstrap/bootstrap-datepicker.js'
    '@AppSiteBundle/Resources/public/js/jquery/jquery-tablesorter.js'
    '@AppSiteBundle/Resources/public/js/jquery/jquery-chosen.js'
    '@AppSiteBundle/Resources/public/js/jquery/virtual-tour.js'


    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}





<script type="text/javascript">
    $(function() {
        $('#sample-table').tablesorter();
        $('#datepicker').datepicker();
        $(".chosen").chosen();
    });
</script>

</body>
</html>