{% extends 'AppSiteBundle:Default:index.html.twig' %}

{% block contenido %}
    <h1>Datos Ingresados</h1>




<div class="row">
    <div  class="span16" >
    <div class="box pattern pattern-sandstone">
        <div class="box-header">
            <i class="icon-table"></i>
            <h5>
                Datos
            </h5>
        </div>
        <div class="box-content box-table">
    <table id="sample-table" class="table table-hover table-bordered tablesorter" class="records_list">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Ruta</th>
                <th>Ciudad</th>

                <th>Cliente</th>
                <th>Orden pedido</th>
                <th>Item</th>
                <th>Cantidad</th>
                <th>Codigo Vehiculo</th>
                <th>Carga</th>
                <th>Tramite</th>
                <th>Hora Retiro</th>
                <th>Hora Entrega</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('datos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ruta }}</td>
                <td>{{ entity.ciudad }}</td>

                <td>{{ entity.codigocliente }}</td>
                <td>{{ entity.ordenpedido }}</td>
                <td>{{ entity.codigoitem }}</td>
                <td>{{ entity.cantidad }}</td>
                <td>{{ entity.codigovehiculo }}</td>
                <td>{{ entity.codigocarga }}</td>
                <td>{{ entity.codigotipotramite }}</td>
                <td>{{ entity.horaretiro }}</td>

                <td>{{ entity.horaentrega }}</td>

                <td>
                <ul>
                    <li>
                        <a href="{{ path('datos_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        </div>
    </div>

    </div>
</div>
        <ul>

    </ul>
    {% endblock %}
