{% extends 'AppSiteBundle:Default:index.html.twig' %}

{% block contenido -%}
    <h1>Registro codigo "{{ entity.id }}"</h1>



    <ul class="record_actions">
        <li>
            <a href="{{ path('datos') }}">
                Regresar
            </a>
        </li>
    </ul>

<div class="span8">
    <div class="box pattern pattern-sandstone">
        <div class="box-header">
            <i class="icon-table"></i>
            <h5>
                Table
            </h5>
        </div>
        <div class="box-content box-table">
            <table id="sample-table" class="table table-hover table-bordered tablesorter" class="records_list">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ruta</th>
                <td>{{ entity.ruta }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ entity.ciudad }}</td>
            </tr>
            <tr>
                <th>Direccion_ciudad</th>
                <td>{{ entity.direccionciudad }}</td>
            </tr>
            <tr>
                <th>Codigo_cliente</th>
                <td>{{ entity.codigocliente }}</td>
            </tr>
            <tr>
                <th>Orden_pedido</th>
                <td>{{ entity.ordenpedido }}</td>
            </tr>
            <tr>
                <th>Codigo_item</th>
                <td>{{ entity.codigoitem }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
            <tr>
                <th>Codigo_vehiculo</th>
                <td>{{ entity.codigovehiculo }}</td>
            </tr>
            <tr>
                <th>Codigo_carga</th>
                <td>{{ entity.codigocarga }}</td>
            </tr>
            <tr>
                <th>Codigo_tipo_tramite</th>
                <td>{{ entity.codigotipotramite }}</td>
            </tr>
            <tr>
                <th>Dir_retiro_carga</th>
                <td>{{ entity.dirretirocarga }}</td>
            </tr>
            <tr>
                <th>Hora_retiro</th>
                <td>{{ entity.horaretiro }}</td>
            </tr>
            <tr>
                <th>Dir_entrega_carga</th>
                <td>{{ entity.direntregacarga }}</td>
            </tr>
            <tr>
                <th>Hora_entrega</th>
                <td>{{ entity.horaentrega }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ entity.observacion }}</td>
            </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>

{% endblock %}
